<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registro de usuario</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h2 th:if="${list.isEmpty()}">No hay personas</h2>
		<div th:if="${!list.isEmpty()}">
			<br>
			<h2 class="text-center">Usuarios</h2>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Email</th>
						<th>Pais</th>
						<th>Entidad</th>
					</tr>
				</thead>
				<tbody th:each="user: ${list}">
					<td th:text="${user.nombre}"></td>
					<td th:text="${user.email}"></td>
					<td th:text="${user.pais}"></td>
					<td th:text="${user.entidad}"></td>
				</tbody>
			</table>
		</div>
	</div>
	</div>

</body>
</html>