<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://kit.fontawesome.com/16bb53a23e.js"
	crossorigin="anonymous"></script>
<title>Log in</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
	<br>
	<br>
	<div class="container">
		<a th:href="@{/user/logout}"><i
			class="fa-solid fa-arrow-right-from-bracket"
			style="font-size: 20px; margin-right: 10px"></i></a> <label>Salir</label>
	</div>
	<img th:src="@{../img/logoufps.jpg}"
		style="width: 400px; display: flex; flex: wrap; margin-left: auto; margin-right: auto; margin-top: 40px;">
	<br>
	<br>
	<h3 class="text-center">Registrar Nueva Pregunta</h3>
	<br>
	<br>
	<div class="container col-md-8">
		<form action="#" th:action="@{/pregunta/save}" method="post">
			<fieldset class="form-group">
				<input name="pregunta" type="text" class="form-control"
					placeholder="Pregunta" required="required" /><br>
			</fieldset>
			<button class="btn btn-dark" type="submit">Guardar</button>
			<a th:href="@{/pregunta/list}" class="btn btn-dark">Cancelar</a> <br>
			<br>
		</form>
	</div>
</body>
</html>