<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://kit.fontawesome.com/16bb53a23e.js"
	crossorigin="anonymous"></script>
<title>Ver proyecto</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<br>
		<br> <a th:href="@{/user/logout}"><i
			class="fa-solid fa-arrow-right-from-bracket" style="font-size: 20px"></i></a>
		<label>Salir</label>
			<br>
			<br>
			<br>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Titulo</th>
						<th>Objetivo</th>
						<th>Notas</th>
						<th>Fecha inicio</th>
						<th>Fecha fin</th>
						<th>Estado</th>
						<th>Fecha creación</th>
					</tr>
				</thead>
				<tbody th:each="proyect: ${viewproyect}">
					<td th:text="${proyect.titulo}"></td>
					<td th:text="${proyect.objetivo}"></td>
					<td th:text="${proyect.notas}"></td>
					<td th:text="${proyect.fechainicio}"></td>
					<td th:text="${proyect.fechafin}"></td>
					<td th:text="${proyect.estado}"></td>
					<td th:text="${proyect.fechacreacion}"></td>
				</tbody>
			</table>
			<a th:href="@{/proyect/list}" class="btn btn-dark">Volver</a>
		</div>
	</div>
</body>
</html>