<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://kit.fontawesome.com/16bb53a23e.js"
	crossorigin="anonymous"></script>
<title>Ver proyecto</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<br>
		<br> <a th:href="@{/user/logout}"><i
			class="fa-solid fa-arrow-right-from-bracket" style="font-size: 20px"></i></a>
		<label>Salir</label><br><br>
		<a th:href="@{/pregunta/list}"><i class="fa-solid fa-arrow-left-long" style="font-size:20px;margin-right:10px"></i></a>
		<label>Volver</label>
			<br>
			<br>
			<br>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Pregunta</th>
						<th>Cadena</th>
						<th>Notas</th>
					</tr>
				</thead>
				<tbody th:each="pregunta: ${viewpregunta}">
					<td th:text="${pregunta.pregunta}"></td>
					<td th:text="${pregunta.cadena}"></td>
					<td th:text="${pregunta.notas}"></td>
				</tbody>
			</table>
		</div>
</body>
</html>